.header {
  background-color: rgb(98, 29, 177);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.562);
  margin-bottom: 20px;
}
.logo {
  padding: 0px 10px;
  font-size: 5vh;
  font-weight: 900;
  font-family: cursive;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.row {
  width: 50%;
}

.col {
  width: 100%;
}

.card-header {
  font-size: 25px;
  background-color: #621db1;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
form {
  padding: 20px 10px;
}
form input {
  margin: 10px 0px;
  line-height: 2 !important;
  font-size: 18px !important;
}

.card {
  box-shadow: 0px 10px 10px #5c73cd;
  background-color: #dfd6de;
}

.btn {
  background-color: #621db1;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.btn:hover {
  background-color: rgb(13, 120, 128);
  color: white;
}
.register-btn {
  padding: 10px 0px;
}

@media screen and (max-width: 420px) {
  .row {
    width: 100%;
  }
}
